<configuration>
  <contextName>ProFI Commons Test</contextName>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
    <encoder>
       <pattern>%-5level: [%thread] +%-4relative ms  %date{dd MMM yyyy - HH:mm:ss.SSS} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>commons_log.txt</file>
    <append>true</append>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>

    <encoder>
       <pattern>%-5level: [%thread] +%-4relative ms  %date{dd MMM yyyy - HH:mm:ss.SSS} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="fr.proline" level="DEBUG" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
